







body{
    background:  grey;
}
       
    p{
       margin:  0;

       
    }
    

.circle{ 
    width:800px; 
    height: 800px;
    border-radius:  50%;
    background:  white;
    padding: 0;
    position: relative;



    }

.round-1{
    align-items: center;
    display:  flex;
    justify-content: center;
    padding: 0.5rem;
    
    width: 320px;
    height:  223px;
    /*border-bottom-left-radius: 300px;*/
    border-radius: 0% 0% 0% 100%;
    position:  absolute;
    bottom: 2.5%;
    left: 6.5%;
    background: black;
    border-color: rgba(255, 255, 255, 0);
    border-width: 3px;
    z-index: 4;
    }

.round-2{
    align-items: center;
    display:  flex;
    justify-content: center;
    padding: 0.5rem;
        
    width: 320px;
    height:  230px;
    /*border-bottom-left-radius: 300px;*/
    border-radius: 0px 0% 100% 0px;
    position:  absolute;
    bottom: 1.7%;
    left: 51%;
    background: black;
    border-color: rgb(255, 0, 0);
    border-width: 3px;
    z-index: 4;
}

.hidBut1{
    background-color: black;
    position: absolute;
    z-index: 8;
    border-radius: 0% 0% 0% 100%;
    left: 10%;
    bottom: 10%;


}

#settingAPPS{
    display: none;
}

#system{
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: lightgrey;
    border-width: none;
    z-index: 12;
    left: 15%;
    bottom: 25%;
    position: absolute;
    display: block;
}
#preassure{
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: lightgrey;
    border-width: none;
    z-index: 12;
    left: 40%;
    bottom: 25%;
    position: absolute;
    display: block;
}

#water{
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: lightgrey;
    border-width: none;
    z-index: 12;
    left: 65%;
    bottom: 25%;
    position: absolute;
    display: block;
}

#load{
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: rgb(111, 199, 243);
    border-width: none;
    z-index: 12;
    left: 53%;
    bottom: 5%;
    position: absolute;
    display: block;
}


#loadUsers{
    display: none;
}


#load1{
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: lightgrey;
    border-width: none;
    z-index: 13;
    left: 15%;
    bottom: 25%;
    position: absolute;
}#load3{
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: lightgrey;
    border-width: none;
    z-index: 13;
    left: 65%;
    bottom: 25%;
    position: absolute;
}#load2{
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: lightgrey;
    border-width: none;
    z-index: 13;
    left: 40%;
    bottom: 25%;
    position: absolute;
}
#load4{
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: lightgrey;
    border-width: none;
    z-index: 13;
    left: 28%;
    bottom: 5%;
    position: absolute;
}
#load5{
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: lightgrey;
    border-width: none;
    z-index: 13;
    left: 53%;
    bottom: 5%;
    position: absolute;
}

#save{
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: rgb(75, 201, 75);
    border-width: none;
    z-index: 12;
    left: 28%;
    bottom: 5%;
    position: absolute;
    display: block;
}

#saveUsers{
    display: none;
}

#usr5{
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: lightgrey;
    border-width: none;
    z-index: 12;
    left: 53%;
    bottom: 5%;
    position: absolute;
}
#usr1{
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: lightgrey;
    border-width: none;
    z-index: 13;
    left: 15%;
    bottom: 25%;
    position: absolute;
}#usr3{
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: lightgrey;
    border-width: none;
    z-index: 13;
    left: 65%;
    bottom: 25%;
    position: absolute;
}#usr2{
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: lightgrey;
    border-width: none;
    z-index: 13;
    left: 40%;
    bottom: 25%;
    position: absolute;
}#usr4{
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: lightgrey;
    border-width: none;
    z-index: 13;
    left: 28%;
    bottom: 5%;
    position: absolute;
}


#showerP{
    display: none;
}

#mist{
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: lightgrey;
    border-width: none;
    z-index: 12;
    left: 53%;
    bottom: 5%;
    position: absolute;
    display: block;
}
#shower{
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: lightgrey;
    border-width: none;
    z-index: 12;
    left: 15%;
    bottom: 25%;
    position: absolute;
    display: block;
}#jet{
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: lightgrey;
    border-width: none;
    z-index: 12;
    left: 65%;
    bottom: 25%;
    position: absolute;
    display: block;
}#rain{
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: lightgrey;
    border-width: none;
    z-index: 12;
    left: 40%;
    bottom: 25%;
    position: absolute;
    display: block;
}#fullbody{
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: lightgrey;
    border-width: none;
    z-index: 12;
    left: 28%;
    bottom: 5%;
    position: absolute;
    display: block;
}


.hidBut2{
    background-color: black;
    position: absolute;
    z-index: 8;
    border-radius: 0% 0% 100% 0%;
    left: 52%;
    bottom: 10%;

}

#weather{ 
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: lightskyblue;
    border-width: none;
    z-index: 12;
    left: 15%;
    bottom: 25%;
    position: absolute;
    display: none;
}

#spotify{
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: black;
    border-width: none;
    z-index: 12;
    left: 40%;
    bottom: 25%;
    position: absolute;
    display: none;
}

#youtube{
    border-radius: 30% 30% 30% 30%;
    width: 160px;
    height: 150px;
    background-color: lightgrey;
    border-width: none;
    z-index: 12;
    left: 65%;
    bottom: 25%;
    position: absolute;
    display: none;
}


#appBack{
    position: absolute;
    z-index: 8;
    left: -43.7%;
    width:1900px;
    top: 5%;
}

#backButton2{
    position: absolute;
    left: 35.5%;
    bottom: -1%;
    height: 40px;
    width: 235px;
    background-color: black;
    z-index: 12;
    border-radius: 0 0 100% 100%;
    display: none;

}

#backButton{
    position: absolute;
    left: 35.5%;
    bottom: -1%;
    height: 40px;
    width: 235px;
    background-color: black;
    z-index: 12;
    border-radius: 0 0 100% 100%;
    display: none;

}

#showerStatus{
    left: 47%;
    top: 38%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    z-index: 15;
    position: absolute;
}

#backButton3{
    position: absolute;
    left: 35.5%;
    bottom: -1%;
    height: 40px;
    width: 235px;
    background-color: black;
    z-index: 12;
    border-radius: 0 0 100% 100%;

}

#backButton4{
    position: absolute;
    left: 35.5%;
    bottom: -1%;
    height: 40px;
    width: 235px;
    background-color: black;
    z-index: 12;
    border-radius: 0 0 100% 100%;

}

#backButton5{
    position: absolute;
    left: 35.5%;
    bottom: -1%;
    height: 40px;
    width: 235px;
    background-color: black;
    z-index: 12;
    border-radius: 0 0 100% 100%;

}

.blocker{
    position: relative;
    z-index: 5;
    left: -38.25%;
    bottom: 51%;
    padding:0%;
}


.date, .dial{
    position: absolute;
}

.whiteMid{
    border-radius: 100%;
}

#currentDate{
    top: 20;
    z-index: 10;
}

.dial{
    padding: 0;
    z-index: 1;
    position: absolute;
    top: -30.94%;
    left: -24.2%;
}


.arc{
    position: absolute;
    left: 20%;
    top: -.2%;
}
#arc-slider {
    height: 190px !important;
    width: 698px !important;
    overflow: hidden;
    z-index: 10;
    padding: 0px;
    left: 19.9%;
    
    
    
}
#arc-slider .rs-container {
    margin-left: -490px; /* here 350 is the radius value */
    left: 50%;
    bottom: -24%;
    
}
#arc-slider .rs-tooltip {
    top: 60px;
    
}
#arc-slider .rs-tooltip-text {
    font-size: 90px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0%;

}
#arc-slider .rs-border{
    border-width: 0px;
}

/* Appearance related changes */
.rs-control .rs-range-color {
    background-color: #df3737;
}
.rs-control .rs-path-color {
    background-color: #336de9;
    opacity: 50%;
}
.rs-control .rs-handle {
    bottom: 50%;
    background-color: #000000;
}

#display_Value{
    bottom: 20%;
    position: absolute;
    align-self: center;
    z-index: 10;
    left: 38%;
    top:20%;
    font-size: 130px;
    color: hsl(0, 0%, 0%);
    border-color: #000000;
    border-width: 10px;
    font-family: Arial, Helvetica, sans-serif;
}







